{% load static %}
<div class="container">
    <ul class="nav justify-content-between py-1 mb-3 border-bottom">
        <li class="nav-item dropdown">
            <a class="nav-link link-body-emphasis dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                Меню
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'catalog:product_list' %}">Каталог</a></li>
                <li><a class="dropdown-item" href="{% url 'blog:article_list' %}">Блог</a></li>
                <li><a class="dropdown-item" href="{% url 'catalog:contacts' %}">Контакты</a></li>
            </ul>
        </li>
        {% for category in categories %}
        <li class="nav-item">
            <a class="nav-item nav-link link-body-emphasis {% if request.resolver_match.kwargs.pk == category.pk %}fw-semibold{% endif %}" href="{% url 'catalog:category_detail' category.pk %}">{{ category.name | title }}</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-item nav-link link-body-emphasis" href="#">Телеграм боты</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link link-body-emphasis" href="#">Полезные утилиты</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link link-body-emphasis" href="#">Веб-приложения</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link link-body-emphasis" href="#">Микросервисы</a>
        </li>-->
        {% endfor %}
    </ul>
</div>
