{% extends "catalog/base.html" %}

{% block content %}
<main class="container">
    <div class="row g-5">
        <div class="col-3"></div>
        <div class="card col-6 shadow p-3 bg-body-tertiary rounded">
            <div class="card-body">
                <p class="fs-3 text-center">{% if request.resolver_match.view_name == 'users:register' %}Регистрация{% else %}Вход{% endif %}</p>
                <div class="text-center">
                    <div class="btn-group my-2" role="group" aria-label="Basic outlined example">
                        {% if request.resolver_match.view_name == 'users:register' %}
                        <a type="button" class="btn btn-outline-dark" style="width:7rem" href="{% url 'users:login' %}">Вход</a>
                        <a type="button" class="btn btn-dark" href="{% url 'users:register' %}">Регистрация</a>
                        {% else %}
                        <a type="button" class="btn btn-dark" style="width:7rem" href="{% url 'users:login' %}">Вход</a>
                        <a type="button" class="btn btn-outline-dark" href="{% url 'users:register' %}">Регистрация</a>
                        {% endif %}
                    </div>
                </div>
                <form method="post" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="col-12">
                        {{ field.label_tag }}
                        {{ field }}
                        <p class="fs-6 fw-light fst-italic lh-1 my-1">{{ field.help_text }}</p>
                        <ul class="fs-6 fw-semibold text-danger lh-1 my-1">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    <ul class="fs-6 fw-semibold text-danger lh-1 my-1">
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn col-6 btn-lg btn-dark mb-2">
                            {% if request.resolver_match.view_name == 'users:register' %}Зарегистрироваться{% else %}Войти{% endif %}
                        </button>
                        {% if request.resolver_match.view_name == 'users:login' %}
                        <p class="mt-2 mb-0">
                            Нет аккаунта?
                            <a href="{% url 'users:register' %}" class="link">
                                Зарегистрироваться
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
        {% endblock %}