{% extends "catalog/base.html" %}

{% block content %}
{% include "catalog/includes/inc_menu.html" %}
<div class="row row-cols-1 row-cols-md-4 g-4 text-center">
    {% for product in products %}
        <div class="col">
            <div class="card mb-4 box-shadow" style="height: 20rem;">
                <div class="card-header text-center" style="height: 4rem;">
                    <div class="row align-items-center py-0 my-0" style="height: 100%;">
                        <h5 class="fw-medium lh-1 my-0 py-0">{{ product.name }}</h5>
                    </div>
                </div>
                <div class="card-body" style="height: 12rem;">
                    <h2 class="card-title pricing-card-title">$ {{ product.price }}</h2>
                    <p class="fs-6 fw-light">{{ product.description }}</p>
                </div>
                <div class="card-footer bg-transparent border-top-0" style="height: 4rem;">
                    <button type="button" class="btn btn-lg btn-block mb-4 btn-outline-primary position-sticky bottom-0">Купить</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}