{% extends "catalog/base.html" %}

{% block content %}
{% include "catalog/includes/inc_menu.html" %}
<form method="post" class="row g-3" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-2"></div>
    <div class="col-md-4">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div class="col-md-4">
        {{ form.price.label_tag }}
        {{ form.price }}
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-8">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        {{ form.category.label_tag }}
        {{ form.category }}
    </div>
    <div class="col-md-4">
        {{ form.image.label_tag }}
        {{ form.image }}
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-8 text-center">
        <button type="submit" class="btn btn-lg btn-primary">Добавить</button>
    </div>
    <div class="col-md-2"></div>
</form>
{% endblock %}