{% extends "catalog/base.html" %}

{% block content %}
<main class="container mt-3">
    <div class="row g-5">
        <div class="col-3"></div>
        <div class="card col-6 bg-black text-white">
            <h3 class="card-header mb-3">{% if object %}Изменить товар{% else %}Добавить товар{% endif %}</h3>
            <div class="card-body">
                <form method="post" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if object and user != object.owner %}
                    <div class="col-12">
                        {{ form.is_published.label_tag }}
                        {{ form.is_published }}
                    </div>
                    {% else %}
                    <div class="col-6">
                        {{ form.name.label_tag }} *
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="col-6">
                        {{ form.price.label_tag }} *
                        {{ form.price }}
                        {{ form.price.errors }}
                    </div>
                    <div class="col-12">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                        {{ form.description.errors }}
                    </div>
                    <div class="col-6">
                        {{ form.category.label_tag }} *
                        {{ form.category }}
                    </div>
                    <div class="col-6">
                        {{ form.image.label_tag }}
                        {{ form.image }}
                        {{ form.image.errors }}
                    </div>
                    <div class="col-12">
                        {{ form.is_published.label_tag }}
                        {{ form.is_published }}
                    </div>
                    {% endif %}
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-dark">
                            {% if object %}Сохранить{% else %}Добавить{% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
        {% endblock %}